/* General Block Component */

.cspc-block {
  padding-top: 100px;
  padding-bottom: 100px;

  .cspc-box {
    padding: 60px 40px;
  }
}

/* Global Footer */

footer.cspc-block {
    border-top: 1px solid #EEE;
}


/* Landing page main content */

.main-content {
    position: relative;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;

    &:after {
        background: transparent url('../images/wave.svg') top center no-repeat;
        -webkit-background-size: 5223px 186px;
        background-size: 5223px 186px;
        bottom: 0;
        content: '';
        display: block;
        height: 168px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .main-content {
        padding-bottom: 200px;
    }
}

/* Color Animation */

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}